
{% block content %}
<div class="container my-5">
    <h2>О компании</h2>
    <h3>История компании</h3>
    <p>Компания MEDCENT была основана в 2000 году и с тех пор предоставляет услуги медицинской диагностики высокого уровня.</p>

    <h3>Миссия</h3>
    <p>Наша миссия — обеспечивать качественную диагностику и помогать людям заботиться о своем здоровье.</p>

    <h3>Ценности</h3>
    <ul>
        <li>Ответственность</li>
        <li>Качество</li>
        <li>Забота о клиентах</li>
        <li>Постоянное развитие</li>
    </ul>
</div>
{% endblock %}
