<li class="nav-item active dropdown">
    <a class="nav-link dropdown-toggle" href="#"
       id="navbarDropdownMenuLink" role="button"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Панель управления
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="{% url 'services:service_list' %}">Медицинские услуги</a>
        <a class="dropdown-item" href="{% url 'speciality:speciality_list' %}">Специализации</a>
        <a class="dropdown-item" href="{% url 'users:doctor_list' %}">Врачи</a>
        <a class="dropdown-item" href="{% url 'appointment:timetable_list' %}">Расписание врачей</a>

        {% if user.is_authenticated and user.role == 'patient' %}
            <a class="dropdown-item" href="{% url 'appointment:appointment_create' %}">Запись к врачу</a>
        {% endif %}
    </div>
</li>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


